@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
    background: linear-gradient(360deg, black, rgb(15, 2, 60)); 
    min-height: 100vh;
    color: white;
    padding: 20px;
  }
  